.folder-color-red {
  background-color: var(--color-red);
  color: white;
}

.folder-color-orange {
  background-color: var(--color-orange);
  color: white;
}

.folder-color-yellow {
  background-color: var(--color-yellow);
  color: black;
}

.folder-color-green {
  background-color: var(--color-green);
  color: white;
}

.folder-color-cyan {
  background-color: var(--color-cyan);
  color: white;
}

.folder-color-blue {
  background-color: var(--color-blue);
  color: white;
}

.folder-color-purple {
  background-color: var(--color-purple);
  color: white;
}










